<!doctype html>
<html lang="es">

<head>
  <title>Alta de Producto</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
  <header id="header"></header>

  <form>
    <main class="d-flex justify-content-space-between">
      <div class="container contenidos" id="app">
        <h2 class="text text-center py-4">Alta de Producto</h2>
        <div class="form-items mb-2">
          <label for="isbn">ISBN</label>
          <input type="number" name="isbn" id="isbn" v-model="isbn">
        </div>
        <div class="form-items mb-2">
          <label for="titulo">Título</label>
          <input class="lenght-text" type="text" name="titulo" id="titulo" v-model="titulo">
        </div>
        <div class="form-items mb-2">
          <label for="autor">Autor</label>
          <input class="lenght-text" type="text" name="autor" id="autor" v-model="autor">
        </div>
        <div class="form-items mb-2">
          <label for="stock">Categoría</label>
          <input type="text" name="categoria" id="categoria" v-model="categoria">
        </div>
        <div class="form-items mb-2">
          <label for="editorial">Editorial</label>
          <input class="lenght-text" type="text" name="editorial" id="editorial" v-model="editorial">
        </div>
        <div class="form-items mb-2">
          <label for="imagen">Imagen</label>
          <input class="lenght-text" type="text" name="imagen" id="imagen" v-model="imagen">
          <!-- <img width="100"   :src="imagen" alt=""> -->
        </div>
        <div class="form-items mb-2">
          <label for="precio">Precio</label>
          <input type="number" name="precio" id="precio" v-model="precio">
        </div>
        <div class="form-items mb-2">
          <label for="cantidad">Cantidad</label>
          <input type="number" name="cantidad" id="cantidad" v-model="cantidad">
        </div>
        <!-- <div><img width="100" :src="imagen" alt=""></div> -->
        <button type="button" class="btn1 btn-pri text-center d-block w-50 m-auto my-5"
          v-on:click="grabar()">Guardar</button>
      </div>
    </main>
  </form>

  <footer id="footer"></footer>

  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
    </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
    </script>
  <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
  <script src="../js/header.js"></script>
  <script src="./js/editar.js"></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="../js/listar.js"></script>
  <script src="../js/footer.js"></script>
</body>

</html>